<!-------------------------------------------------Contact------------------------------------------------->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title" data-aos="fade-right" data-aos-duration="1500">Contact me</h1>
                <p class="contact email" data-aos="fade-right" data-aos-duration="1500">
                    <a href="mailto:omarafifi.cse@gmail.com" aria-label="mail" target="_blank">
                        <i class="fa-solid fa-envelope"></i>
                        Contact via Email
                    </a>
                </p>
                <p class="contact whatsapp" data-aos="fade-right" data-aos-duration="1800">
                    <a href="https://wa.me/201154403740" aria-label="whatsapp" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                        Contact on WhatsApp
                    </a>
                </p>

                <div class="social-icons" data-aos="zoom-in" data-aos-duration="2000">
                    <a href="https://www.linkedin.com/in/omarafifi-cse/" aria-label="linkedin" target="_blank"
                        data-aos="fade-up" data-aos-duration="1800"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/OmarAfifi.CSE" aria-label="facebook" target="_blank"
                        data-aos="fade-up" data-aos-duration="2100"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://github.com/OmarAfifi-CSE" aria-label="github" target="_blank"
                        data-aos="fade-up" data-aos-duration="2100"><i class="fa-brands fa-github"></i></a>
                </div>
                <a href="images/Omar Afifi Resume.pdf" aria-label="resume" class="btn btn2" download
                    data-aos="fade-up" data-aos-duration="2100">Download CV</a>
            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required data-aos="fade-left"
                        data-aos-duration="1500">
                    <input type="email" name="Email" placeholder="Your Email" required data-aos="fade-left"
                        data-aos-duration="1800">
                    <textarea name="Message" rows="6" placeholder="Your Message" required data-aos="fade-left"
                        data-aos-duration="2100"></textarea>
                    <button type="submit" class="btn btn2" data-aos="fade-up"
                        data-aos-duration="2100">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
</div>
<footer class="copyright">
<p>&copy; <span id="year"></span> All rights reserved. Developed by Omar Afifi.</p>
</footer>

<script>
    // Dynamically update the year
    document.getElementById('year').textContent = new Date().getFullYear();
</script>